In [3]:
!ls -laFh /data

total 347M
drwxr-xr-x 5 root root  160 Feb  9 09:50 ./
drwxr-xr-x 1 root root 4.0K Feb  9 09:49 ../
-rw-r--r-- 1 root root 457K Feb  9 09:50 articles.tsv.bz2
-rw-r--r-- 1 root root 5.0K Feb  9 09:50 articles_available_for_promo.tsv.bz2
-rw-r--r-- 1 root root 346M Feb  9 09:50 orderlines.tsv.bz2

In [4]:
import pandas as pd

articles = pd.read_csv('/data/articles.tsv.bz2', sep='\t')
promos =  pd.read_csv('/data/articles_available_for_promo.tsv.bz2', sep='\t')
orderlines = pd.read_csv('/data/orderlines.tsv.bz2', sep='\t')

In [5]:
articles.head()

,article_id,art_brand,art_name,art_cat_lev_1_id,art_cat_lev_2_id,art_cat_lev_3_id,art_cat_lev_4
0,c263ba265bb852550ed96a59a2f495a1,Bonbébé,>15 spaghetti bolognese,1889.0,1890.0,2463.0,Maaltijdhapjes >15 maanden
1,063204955d29b561ef18ba3a3a53fffa,Bonbébé,>15 spinazie aardappel ei,1889.0,1890.0,2463.0,Maaltijdhapjes >12 maanden
2,978fb2a7a27f09d633c531102cff3fe4,Andrélon,shampoo kokos boost,2045.0,2051.0,2079.0,Shampoo elke dag
3,31f0655fc33d209a551b8ddf74b795ae,De Ruijter,gestampte muisjes,1910.0,1914.0,1935.0,Muisjes
4,81d4a3745ca94f221bc602e999c49a57,Liga,baby biscuits 6-12 mnd,1889.0,1890.0,1905.0,Babykoekjes

In [6]:
articles.describe()

       art_cat_lev_1_id  art_cat_lev_2_id  art_cat_lev_3_id
count      13581.000000      13581.000000      13581.000000
mean        2109.971063       2137.959355       2199.754215
std          137.185649        152.721948        169.078225
min         1889.000000       1890.000000       1893.000000
25%         1987.000000       1993.000000       2037.000000
50%         2117.000000       2166.000000       2209.000000
75%         2256.000000       2260.000000       2328.000000
max         2348.000000       2535.000000       2538.000000

In [7]:
promos.head()

                         article_id
0  f166722fd76226908f3b3626c1f795b4
1  23d6ed98871856c462051e2d0b7dc014
2  7cbd3d7ff6d186b624a2696d71a1e386
3  36fba91db533534424ede77626d00e9b
4  526c599322bdc9c43ffa966a3c248079

In [19]:
orderlines = orderlines.set_index('order_id')
orderlines.head()

,customer_id,article_id,promo_id,promo_type,promo_x,promo_y
order_id,,,,,,
a00893d8902f8aa0c28d3fa0829b6e99,357eb5a7f5726a470b2065b1950671c5,29f5382aba32e828d9c465c62de9b09b,NaN,NaN,NaN,NaN
a00893d8902f8aa0c28d3fa0829b6e99,357eb5a7f5726a470b2065b1950671c5,449f55e16dcd6e41885aa6e802e428e3,NaN,NaN,NaN,NaN
a00893d8902f8aa0c28d3fa0829b6e99,357eb5a7f5726a470b2065b1950671c5,3cca671b56928b7cf4a3bc3a2a68e12a,NaN,NaN,NaN,NaN
a00893d8902f8aa0c28d3fa0829b6e99,357eb5a7f5726a470b2065b1950671c5,898f3fb497c54fa1f635382e3c02b981,NaN,NaN,NaN,NaN
a00893d8902f8aa0c28d3fa0829b6e99,357eb5a7f5726a470b2065b1950671c5,f31567026c7cdbc33e38237cb2755b06,NaN,NaN,NaN,NaN

In [20]:
orderlines.describe()

             promo_x        promo_y
count  151128.000000  535467.000000
mean       18.241491      89.897265
std        74.922322     148.419121
min         1.000000       1.000000
25%         2.000000      10.000000
50%         2.000000      10.000000
75%         3.000000     139.000000
max       849.000000    1800.000000

In [24]:
promos_full = promos.join(articles.set_index('article_id'))

KeyError: 'article_id'